export POSTGRES_PASSWORD=postgres
export POSTGRES_USER=postgres
export POSTGRES_HOST=localhost
export POSTGRES_DATABASE=petal_pro_dev
export POSTGRES_PORT=5432

# Set a random session secret
# export SESSION_SECRET=

# Set if running behind a proxy, e.g. Caddy to serve SSL
# export TRUST_PROXY=true
