export FS_POSTGRES_PASSWORD=postgres
export FS_POSTGRES_USER=postgres
export FS_POSTGRES_HOST=localhost
export FS_POSTGRES_DATABASE=firesync
export FS_POSTGRES_PORT=5432

# Set if running behind a proxy, e.g. Caddy to serve SSL
# export FS_TRUST_PROXY=true
