<p>You have successfully authenticated with Google! 🎉</p>

<p>However, we don't know where to go next! <code>FS_GOOGLE_AUTH_SUCCESS_REDIRECT_URL</code> is not configured. You can configure this by setting the following environment variable:</p>

<p>
<pre>
$ export FS_GOOGLE_AUTH_SUCCESS_REDIRECT_URL=...
</pre>
</p>
