<p><code>FS_REDEEM_INVITE_URL</code> is not configured for this project.<p>

<p>You can configure this setting the following environment variables:</p>

<p>
<pre>
$ export FS_REDEEM_INVITE_URL=...
</pre>
</p>
  