<p>You have authenticated successfully with Google but there is no <code>success_redirect_url</code> configured.</p>

<p>You can configure this by running:</p>

<p>
<pre>
npx @firesync/server google_auth configure --project <%= projectName %> --success-redirect-url &lt;url-to-return-to-next&gt;
</pre>
</p>
